<script setup lang="ts">
  // Add your logic here
</script>

<template>
  <div class="{{kebabCase name}}">
    <h1>{{pascalCase name}}</h1>
  </div>
</template>

<style scoped>
.{{kebabCase name}} {
  padding: 2rem;
}
</style>