h1 {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
  font-size: medium;
  background-color: #41b883 ;
  text-align: center;
}

h2 {
  font-size: small;
  color: #34495e;
  padding: 0.5rem;
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

nav {
  width: 100%;
  font-size: small;
  text-align: center;
  margin-top: 0.5rem;
}

nav a.router-link-exact-active {
  color: var(--color-text);
}

nav a.router-link-exact-active:hover {
  background-color: transparent;
}

nav a {
  display: inline-block;
  padding: 0 1rem;
  border-left: 1px solid var(--color-border);
}

nav a:first-of-type {
  border: 0;
}

@media (min-width: 1024px) {
  header .wrapper {
    display: flex;
    place-items: flex-start;
    flex-wrap: wrap;
  }

  nav {
    text-align: left;
    margin-left: 0.5rem;
    font-size: 1rem;
    padding: 1rem 0;
    margin-top: 1rem;
  }
}
